[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

okta = "*"
"boto3" = "*"
"beautifulsoup4" = "*"
configparser = "*"
keyring = "*"
requests = "*"


[dev-packages]



[requires]

python_version = "3.6"
